.records-table {
  border-collapse: collapse;
  margin: 40px 10px;
}

.records-table th,
.records-table td {
  border-bottom: 2px solid black;
  padding: 1rem;
  font-size: 14px;
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .records-table {
    width: 60%;
    align-self: center;
  }
}
